body{
    margin: 0;
}

img .imagemlittlepettexto.jpg{
    width: 10px;
    width: 10px;
}


.mainNav{
    display: flex;
    justify-content: center;
    border: none;
    padding: none;
    margin: none;
    background-color: rgb(0, 96,216);
    
    }

.masthead li {
    list-style: none;
    display: block;
    float: left;
    padding-left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.masthead li a {
    text-decoration: none;
    color: white;
}
.masthead ul{
    padding: none;
}

.form-master{
    text-transform: uppercase;
    background-color: rgb(0, 96,216);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.form-master input{
    border-radius: 40px;
    background: white;
    border: 2px solid black;
    width: 50em;
    height: 2em;
    }

.linha{
    display: flex;
    flex-flow: row wrap;
}

.coluna{
    width: 30%;
}




